<!-- <div class="container-fluid rodape">
    <div class="row-fluid">
        <div class="span3 footer">
            <h4>Links</h4>
            <ul>
                <li><a href="" title="Ruby on Rails" rel="nofollow">Linha de Código</a></li>
                <li><a href="" title="jQuery" rel="nofollow">jQuery</a></li>
                <li><a href="" title="LESS CSS" rel="nofollow">LESS CSS</a></li>
                <li><a href="" title="Wordpress" rel="nofollow">Wordpress</a></li>
                <li><a href="" title="Joomla" rel="nofollow">Joomla</a></li>
            </ul>
        </div>
    </div>
 </div> -->