<div id="footer">
<p>Don't Get Scroosofted! - Developed by <a href="http://www.fernando-paladini.blogspot.com">Fernando Paladini</a>. This website uses the <a href="http://www.wtfpl.net/">WTFPL</a> license.</p>
</div>