<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="brand" href="#"><img src="/assets/scroosofted-logo-open-source.png" width="200" height="70" /></a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="index.html" title="Home Page">Home</a></li>
        					<li><a href="#" title="">Get the facts</a></li>
                            <li><a href="#" title="">Know more</a></li>
                            <li><a href="#" title="">Contact</a></li>
                        </ul>
                    </div>
               </div>
           </div>
</div>
